* {
    font-family: 'Martian Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Serif', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(15, 12, 19);
    background-position: center;
    background-size: cover;
}

.all-box {
    width: 420px;
    background: transparent;
    border: 1px solid rgba(91, 41, 224, 1);
    backdrop-filter: blur(15px);
    color: rgb(246, 206, 74);
    border-radius: 10px;
    padding: 30px 30px ;
}

.all-box h1 {
    font-size: 30px;
    text-align: center;
}

.input-box {
    width: 100%;
    height: 45px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(91, 41, 224, 1);
    border-radius: 10px;
    font-size: 15px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
 color: rgba(255, 255, 255, .5);
 font-weight: 200;
 font-style: italic;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 25%;
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0px 15px;
}

.remember-forgot input {
    appearance: none;
}

.remember-forgot input + label::before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    line-height: 15px;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(246, 206, 74);
    margin-right: 3px;
}

.remember-forgot input:checked + label::before {
    color: rgb(246, 206, 74);
}

.remember-forgot label {
    margin-right: 109px;
}


.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
 text-decoration: underline;   
}

.button {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid rgba(91, 41, 224, 1);
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.button:hover {
    background: rgba(91, 41, 224, 1);
    transition: background .5s;
}

.register-link {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.register-link a {
    color: white;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}