* {
    font-family: 'Martian Mono', monospace;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp10871610.jpg);
    background-position: center;
    background-size: cover;
}

.all-box {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(15px);
    color: white;
    border-radius: 10px;
    padding: 30px 30px ;
}

.all-box h1 {
    font-size: 35px;
    text-align: center;
}

.input-box {
    width: 100%;
    height: 45px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 15px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
 color: white;
 font-weight: 200;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 25%;
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0px 15px;
}

.remember-forgot label {
    accent-color: white ;
    margin-right: 3px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
 text-decoration: underline;   
}

.button {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 400;
}

.register-link {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.register-link a {
    color: white;
    text-decoration: none;
    font-weight: 900;
}

.register-link a:hover {
    text-decoration: underline;
}